.container{
    height: calc(100vh - 100px);
    background-color: rgb(86, 53, 207);

}

.arrowContainer{
    position:absolute;
    width: 10%;
    height: 10%;
    top: 0;
    bottom: 0;
    margin:auto;
    cursor: pointer;
}