.container {
    height: 100px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(86, 53, 207);
    position: sticky;
    top: 0;
    z-index: 999;

}

.item {
    flex: 1;
    align-items: center;
    display: flex;

}

.item:nth-child(2) {
    flex: 3;
}

.item:last-child {
    justify-content: flex-end;
}

.callButton {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
}

.texts {
    margin-left: 20px;
    color: white;
}

.text:nth-child(1) {
    font-size: 12px;
    color: white;
    font-weight: bold;

}

.text:nth-child(2) {
    font-size: 20px;
    font-weight: bold;

}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
}

.listItem {

    margin: 20px;
    font-weight: 500;
}

.cart {
    position: relative;
}

.counter {

    background-color: white;
    color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    padding: 0px 5px;
    top: -10px;
    right: -10px;

}